
        body {
            background-color: rgb(35, 31, 31);
            color: white;
        }

        .navbar-dark .navbar-nav .nav-link {
            color: white;
        }

        .navbar-dark .navbar-nav .nav-link:hover {
            color: white;
        }

        .carousel-inner img {
            height: 450px;
            object-fit: cover;
            filter: brightness(80%);
        }
        .card{
            background-color: rgb(47, 40, 40);
            color:white;
            border:1px solid  rgb(47, 40, 40);
        }
        .card-img-top{
            height:250px;
            object-fit:cover;

        }
        .gallery-image{
            width:100%;
            height:200px;
            object-fit:cover;
            border-radius:10px;
        }
    